@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #222;
    background: #f5f5f5;
    font-family: Lato, sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, sans-serif;
    font-weight: 700;
}

a {
    color: #222;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

.btn {
    font-weight: 400;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #d9534f;
    text-decoration: none;
    outline: none;
}

.single-slide-item.slide-bg-1, .single-slide-item.slide-bg-2 {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 400px;
	
}
.slide-bg-1{
	background-image: url(assets/images/slide-bg-1.jpeg);
	
}
